* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.boards {
  display: flex;
  max-height: 850px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  place-content: center;
  white-space: nowrap;
}

.container {
  padding: 10px;
  max-height: 850px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap;
  overflow-x: auto; */
  gap: 10px;
}

.board {
  min-width: 400px;
  max-height: 750px;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ababab;
}

.tasks {
  height: 750px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  overflow-y: auto;
  /* background-color: #e77c7c; */
}

input {
  width: fit-content;
}

.tasks-input {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #000000;
}

.add-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #4f32f2;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.add-tasks:hover {
  background-color: #1d05a5;
}

.card {
  background-color: #4f32f2;
  color: #ffffff;
  padding: 10px;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: grab;
  border-radius: 10px;
}

.task-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.task-actions {
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}

textarea {
  max-height: 200px;
  width: 100%;
  background-color: #4f32f2;
  border: none;
}

small {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #4f32f2;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.board-actions {
  width: 100%;
  border-radius: 10px;
}

.addNewBoard {
  height: 30px;
  width: 100px;
  background-color: #4f32f2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 10px;
}

.removeBoard {
  height: 30px;
  width: 120px;
  background-color: #f23245;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px 10px;
}
